In [2]:
# List object
list1 = [1, 'mit', 'o', 100]
print(list1)

[1, 'mit', 'o', 100]

In [6]:
l2 = range(8)
print(type(l2))
for x in l2:
    print(x)

<class 'range'>
0
1
2
3
4
5
6
7

In [14]:
l2 = list(range(8))
print(type(l2))
print(l2[3])
print(l2)

<class 'list'>
3
[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
l2 = [range(8)]
print(type(l2))
print(l2)

<class 'list'>
[range(0, 8)]

In [13]:
print(l2[0])

range(0, 8)

In [15]:
#  *****************  LISTS  ***********************
list1 = [10, 20, 30, 35]
for i in range(0, 4):
	list1[i] = list1[i] + 5
print(list1)

[15, 25, 35, 40]

In [22]:
# ******************* 2D LIST  *********************
list2 = [['Owais', 'Bhat'], [10, 12, 14, 16], [15, 800]]
print(list2)
print(list2[0])
print(list2[1])
print(list2[2][1])
print(list2[0][1])
print(list2[1][2])

[['Owais', 'Bhat'], [10, 12, 14, 16], [15, 800]]
['Owais', 'Bhat']
[10, 12, 14, 16]
800
Bhat
14

In [29]:
#  *****************  LIST SLICES  *****************
list3 = ['apple', 'pear', 'grapes', 'mango']
print(list3[0:4])
print(list3[:2])
# print(list3[1:3])
print(list3[0:])
print(list3[2:])
print(list3[:])

['apple', 'pear', 'grapes', 'mango']
['apple', 'pear']
['apple', 'pear', 'grapes', 'mango']
['grapes', 'mango']
['apple', 'pear', 'grapes', 'mango']

In [36]:
#  *****************  LIST CONCATENATION (+) AND REPLICATION (*)  ******************
list4 = list1 + list3  # List concatenation
print(list4)
list4 = list4 * 2  # List replication
print(list4)
list4 = list4 + [100, 200]
print(list4)
del list4[-1]  # delete elements form the list using index
print(list4)

[15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango']
[15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango', 15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango']
[15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango', 15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango', 100, 200]
[15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango', 15, 25, 35, 40, 'apple', 'pear', 'grapes', 'mango', 100]

In [44]:
list5 = [100, 500, 800, 750]
print(list5[:3])
print(list5[-4:-1])
del list5[2:]
print(list5)

[100, 500, 800]
[100, 500, 800]
[100, 500]

In [45]:
#  **************** using in and not operators with lists  ********************
if 35 in list4:  # return true if 35 is in list4
	print('Element found')
if 'apple' not in list4:  # return true if specified element not present in the list
	print('Element not found in the list')

Element found

In [2]:
l2 = ['Mohsin', 'zubair', 'Tanzeel']
name = 'Nawaz'
if name in l2:
    print('Found')
else:
    print('Not found')

Not found

In [19]:
list = ['larry', 'curly', 'moe']
print(list)
list.append('shemp')         ## append elem at end
list.insert(2, 'Owais')        ## insert elem at index 0
print(list)
list2 = ['yyy', 'zzz']
list.extend(list2)  ## add list of elems at end
print(list)  ## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']
print(list2)
print(list.index('zzz'))    ## 2

list.remove('zzz')         ## search and remove that element
print(list)

x = list.pop(1) 
print(x)
print(list)
list.reverse()
print(list)
print(list[::-1])
# removes and returns 'larry'
list.remove('shemp')
print(list)  ## ['Jem', 'moe', 'shemp', 'yyy', 'zzz']
l5 = [15, 1, 5, 80]
l5.sort()
print(l5)  ## ['Jem', 'moe', 'shemp', 'yyy', 'zzz']

['larry', 'curly', 'moe']
['larry', 'curly', 'Owais', 'moe', 'shemp']
['larry', 'curly', 'Owais', 'moe', 'shemp', 'yyy', 'zzz']
['yyy', 'zzz']
6
['larry', 'curly', 'Owais', 'moe', 'shemp', 'yyy']
curly
['larry', 'Owais', 'moe', 'shemp', 'yyy']
['yyy', 'shemp', 'moe', 'Owais', 'larry']
['larry', 'Owais', 'moe', 'shemp', 'yyy']
['yyy', 'moe', 'Owais', 'larry']
[1, 5, 15, 80]

In [44]:
# del list
list6 = [10,50,80, 50]
list7 = ['a', 'b', 'c', 'd']
r = list(zip(list6,list7))

print(r)

[(10, 'a'), (50, 'b'), (80, 'c'), (50, 'd')]

In [2]:
d = [10, 20, 10, 30, 50, 80, 20]
s = set(d)
for x in s:
    print([x, d.count(x)])

[10, 2]
[80, 1]
[50, 1]
[20, 2]
[30, 1]

In [8]:
# list comprehension
l = []
for i in range(8):
    if i > 3:
        l.append(i*i)

print(l)

[16, 25, 36, 49]

In [6]:
l2 = [i * i for i in range(8) if i>3]
print(l2)

[16, 25, 36, 49]

In [3]:
s = "Today is a sunny day"
s = s.lower()
d = {}
s2 = 'aeiou'
for i in s2:
    count = s.count(i)
    d[i] = count
    
print(d)

{'a': 3, 'e': 0, 'i': 1, 'o': 1, 'u': 1}